
.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */