@keyframes up-in {
  0% {
    bottom: -60px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes left-to-right {
  0% {
    left: -80%;
  }
  100% {
    left: 100%;
  }
}