* {
  box-sizing: border-box;
  cursor: default;
  line-height: 1.5;
  font-family: 'Gill Sans';
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(black, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  padding: 70px var(--default-space) var(--default-space) var(--default-space);

  @media (max-width: 768px) {
    padding: 70px var(--half-space) var(--default-space) var(--half-space);
  }
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  font-family: 'Gill Sans Bold';
  letter-spacing: -2px;
  margin-bottom: var(--default-space);
}

h1 {
  line-height: 1.2;
  color: var(--black-color);
  font-family: 'Gill Sans BoldItalic';
  font-size: 40px;
  margin: 75px 0 var(--half-space);
  font-style: italic;
  text-shadow: 3px 3px 0 rgba(black, 0.2);
  text-transform: uppercase;
  transform: rotate(-1deg);

  > span {
    transition: background-color var(--extra-time-transition);
  }
}

h2 {
  font-size: 34px;
}

a {
  color: var(--black-color);
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all var(--mid-time-transition);

  &:hover {
    color: var(--violet-color);
    cursor: pointer;
    transition: color ease 0.01s;

    > i {
      cursor: pointer;
    }
  }
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-menu {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &__content {
    width: 100%;
    max-width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .menu-desktop {
    height: 70px;
    display: block;
    padding-top: 4px;

    > ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    li {
      > a {
        font-family: 'Gill Sans Bold';
        font-size: 18px;
        margin-right: var(--default-space);
        padding: 14px 24px;
        position: relative;

        &:last-of-type {
          margin-right: 0;
        }

        &:after {
          width: 0%;
          height: 3px;
          background-color: var(--violet-color);
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: width var(--min-time-transition);
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }

      @media (max-width: 992px) {
        > a {
          padding: 14px 10px;
        }
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .menu-mobile {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 100%;
    transition: left var(--mid-time-transition);
    z-index: 2;
  
    > ul {
      margin-top: 85px;
  
      > li {
        > a {
          width: 100%;
          border-bottom: 1px solid var(--grey-color);
          font-family: 'Gill Sans Bold';
          font-size: 22px;
          justify-content: flex-start;
          padding: var(--default-space);
        }
  
        &:last-of-type {
          > a {
            border-bottom: none;
          }
        }
      }
    }
  
    &.open {
      left: 0;
    }
  }

  .nav-burguer-icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: none;
    margin-top: 7px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    z-index: 3;

    > span {
      width: 100%;
      height: 5px;
      background: var(--black-color);
      border-radius: 3px;
      display: block;
      opacity: 1;
      position: absolute;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 14px;
      }

      &:nth-child(4) {
        top: 28px;
      }
    }

    &.open {
      > span {
        &:nth-child(1) {
          top: 16px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 16px;
          width: 0%;
          left: 50%;
        }
      }
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  @media (max-width: 768px) {
    padding: 0 var(--half-space);
  }
}

.skills {
  margin-top: 7px;

  > li {
    border-radius: var(--border-radius-default);
    display: inline-block;
    font-family: 'Gill Sans Bold';
    font-size: 20px;
    margin: 0 var(--half-space) var(--half-space) 0;
    padding: 8px 24px;
  }
}

.photo {
  border: 10px solid var(--light-grey-color);
  border-radius: 100px;
}

.item-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: var(--double-space);

  > .item-list-left-content {
    > .item-list__logo {
      border-radius: 100px;
    }
  }

  > .item-list-right-content {
    padding: var(--mid-half-space) 0 0 var(--default-space);

    > .item-list__name {
      line-height: 20px;
      font-family: 'Gill Sans Bold';
      font-size: 24px;

      > span {
        color: var(--violet-color);
        display: block;
        font-size: 22px;
        margin-top: 0.2rem;
      }
    }

    > .item-list__info,
    > .item-list__info > a {
      color: var(--grey-color);
    }

    > .item-list__info > a {
      border: 2px solid var(--violet-color);
      border-radius: var(--border-radius-default);
      color: var(--violet-color);
      margin: 0.3rem 0 0.5rem 0;
      padding: 6px 1.5rem;

      &:hover {
        background-color: var(--violet-color);
        color: var(--white-color);
      }
    }

    @media (max-width: 768px) {
      padding: 0 0 0 var(--half-space);

      > .item-list__name {
        display: block;
        font-size: 20px;

        > span {
          display: block;
          font-size: 16px;
          margin-left: 0;
        }
      }
    }
  }
}

.repos {
  .repos__item {
    width: 100%;
    min-height: 110px;
    background-color: var(--light-grey-color);
    border-radius: var(--border-radius-default);
    padding: var(--default-space);

    > .repos-title {
      display: block;
      font-family: 'Gill Sans Bold';
      font-size: 22px;

      > svg {
        width: 20px;
        height: 20px;
        position: relative;
        top: 3px;
      }
    }

    > .repos-description {
      margin-bottom: var(--default-space);
    }

    > .repos-title,
    > .repos-description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > .repos-language {
      > .repos-language__circle {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        display: inline-block;
        position: relative;
        top: 1px;
      }

      svg {
        width: 20px;
        height: 20px;
        position: relative;
        top: 3px;
        left: 3px;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: var(--double-space);

  > span:last-of-type {
    display: flex;
    justify-content: flex-end;
  }

  a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: var(--mid-half-space);
    overflow: visible;
    position: relative;

    > svg {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: color var(--extra-time-transition);

      > path {
        cursor: pointer;
      }
    }

    &:hover {
      > svg {
        fill: var(--violet-color);
        transition: color ease 0.01s;
      }
    }
  }
}
