* {
  box-sizing: border-box;
  cursor: default;
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(black, .6);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  padding: var(--default-space);

  @media (max-width: 768px) {
    padding: var(--half-space);
  }
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  letter-spacing: -2px;
  margin-bottom: var(--default-space);
}

h1 {
  color: var(--black-color);
  font-size: 60px;
  margin: 75px 0;
  font-style: italic;
  text-shadow: 3px 3px 0 rgba(black, .2);
  text-transform: uppercase;
  transform: rotate(-2deg);

  @media (max-width: 768px) {
    font-size: 38px;
  }
}

h2 {
  font-size: 42px;

  @media (max-width: 768px) {
    font-size: 28px;
  }
}

a {
  color: var(--black-color);
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: color var(--extra-time-transition);

  &:hover {
    color: var(--violet-color);
    cursor: pointer;
    transition: color ease .01s;

    > i {
      cursor: pointer;
    }
  }
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--double-space);

  > .logo {
    height: 40px;
  }

  > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      > a {
        font-size: 18px;
        font-weight: 600;
        margin-right: var(--default-space);
        padding: 10px 24px 12px;
        position: relative;

        &:last-of-type {
          margin-right: 0;
        }

        &:after {
          width: 0%;
          height: 3px;
          background-color: var(--violet-color);
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: width var(--min-time-transition);
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }

      &:last-of-type > a {
        background-color: var(--black-color);
        border-radius: var(--border-radius-default);
        color: var(--white-color);
        margin-left: 20px;
        transition: background-color var(--extra-time-transition);

        &:hover {
          background-color: var(--violet-color);
          transition: background-color ease .01s;

          &:after {
            width: 0%;
          }
        }
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.repos {
  .repos__item {
    width: 100%;
    min-height: 110px;
    border: 2px solid var(--black-color);
    border-radius: 8px;
    padding: var(--default-space);

    > .repos-title {
      display: block;
      font-size: 22px;
      font-weight: 600;
    }

    > .repos-description {
      margin-bottom: var(--default-space);
    }

    > .repos-title,
    > .repos-description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > .repos-language {
      > .repos-language__circle {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        display: inline-block;
        position: relative;
        top: 1px;
      }
    }
  }
}

.skills {
  margin-top: 7px;

  > li {
    border: 2px solid var(--black-color);
    border-radius: var(--border-radius-default);
    color: var(--white-color);
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 0 var(--half-space) var(--half-space) 0;
    padding: 10px 24px 12px;
    text-shadow: 2px 2px 0 rgba(black, .6);
  }
}

.experience {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: var(--double-space);

  > .experience-left-content {
    > .experience__logo {
      width: 150px;
      height: 150px;
      border: 2px solid var(--black-color);
      border-radius: 75px;

      @media (max-width: 768px) {
        width: 70px;
        height: 70px;
        border-radius: 40px;
      }
    }
  }

  > .experience-right-content {
    padding: var(--mid-half-space) 0 0 var(--double-space);

    > .experience__name {
      font-size: 26px;
      font-weight: 700;
      > span {
        color: var(--violet-color);
        font-size: 22px;
        font-weight: 600;
        margin-left: var(--half-space);
      }
    }

    > .experience__date {
      color: var(--grey-color);
    }

    @media (max-width: 768px) {
      padding: 0 0 0 var(--half-space);

      > .experience__name {
        display: block;
        font-size: 20px;
        font-weight: 600;
        > span {
          display: block;
          font-size: 16px;
          font-weight: 400;
          margin-left: 0;
        }
      }
    }
  }
}

.projects {
  margin-top: 7px;

  > li {
    > a {
      font-size: 28px;
      font-weight: 600;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: var(--double-space);

  a {
    overflow: visible;
    position: relative;

    > i {
      font-size: 40px;
      transition: color var(--extra-time-transition);
    }

    &:hover {
      &:after {
        width: 0;
      }

      > i {
        color: var(--violet-color);
        transition: color ease .01s;
      }
    }
  }
}
