* {
  box-sizing: border-box;
  cursor: default;
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(black, .6);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
  padding: var(--default-space);
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  letter-spacing: -2px;
  margin-bottom: var(--half-space);
}

h1 {
  font-size: 70px;
  margin: 75px 0;
  font-style: italic;
  text-transform: uppercase;
  transform: rotate(-3deg);
}

h2 {
  font-size: 50px;
}

a {
  color: var(--black-color);
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:after {
    width: 0%;
    height: 2px;
    background-color: var(--black-color);
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    cursor: pointer;

    &:after {
      width: 100%;
    }
  }
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.nav-menu {
  margin-bottom: var(--double-space);

  > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      > a {
        font-size: 18px;
        font-weight: 600;
        margin-right: var(--default-space);
        padding: 14px 24px 16px;
        position: relative;

        &:after {
          width: 0%;
          height: 3px;
          background-color: var(--black-color);
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: width var(--min-time-transition);
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }

      &:last-of-type > a {
        background-color: var(--black-color);
        border-radius: 5px;
        color: var(--white-color);
        margin-left: 20px;
        transition: background-color var(--extra-time-transition);

        &:hover {
          background-color: var(--violet-color);
          transition: background-color ease .01s;

          &:after {
            width: 0%;
          }
        }
      }
    }
  }
}

.repos {
  .repos__item {
    width: 100%;
    min-height: 110px;
    border: 2px solid var(--black-color);
    border-radius: 8px;
    padding: var(--default-space);

    > .repos-title {
      font-weight: 600;
    }

    > .repos-description {
      margin-bottom: var(--default-space);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > .repos-language {
      > .repos-language__circle {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        display: inline-block;
        position: relative;
        top: 1px;
      }
    }
  }
}

.skills {
  margin-top: 7px;

  > li {
    border-radius: 8px;
    color: var(--white-color);
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 0 var(--half-space) var(--half-space) 0;
    padding: 14px 24px 16px;
    text-shadow: 2px 2px 0 rgba(black, .6);
  }
}
