.m-negative-row {
  margin: 0 -5px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mr15 {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.p0 {
  padding: 0 !important;
}

.full-width {
  width: 100% !important;
}

.tac {
  text-align: center;
}
