.bold {
  font-family: 'Gill Sans Bold';
}

.m-negative-row {
  margin: 0 -5px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mr15 {
  margin-right: 15px;
}

.ml4 {
  margin-left: 4px;
}

.ml15 {
  margin-left: 15px;
}

.p0 {
  padding: 0 !important;
}

.full-width {
  width: 100% !important;
}

.tac {
  text-align: center;
}

.fz22 {
  font-size: 22px;
}
