.mr14 {
  margin-right: 14px !important;
}

.p0 {
  padding: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.full-width {
  width: 100% !important;
}

.min-height-150 {
  min-height: 150px !important;
}

.not-circular {
  border-radius: var(--min-border-radius) !important;
}