:root {
  // Colors
  --white-color: white;
  --black-color: black;
  --bg-color: white;
  --text-color: #282828;
  --green-color: #4faf5e;
  --blue-color: #679bf6;
  --violet-color: #5450f6;
  --light-violet-color: #a157f7;
  --meat-color: #f18276;
  --red-color: #ee4e34;
  --yellow-color: #f9c747;

  // Transitions
  --min-time-transition: .2s;
  --mid-time-transition: .5s;
  --max-time-transition: 1s;
  --extra-time-transition: 2s;

  // Border Radius
  --border-radius-default: 30px;

  // Spaces
  --default-space: 20px;
  --half-space: 10px;
  --mid-half-space: 5px;
  --double-space: 40px;
}
