:root {
  // Colors
  --white-color: white;
  --black-color: black;
  --bg-color: white;
  --text-color: #282828;

  // Transitions
  --min-time-transition: .2s;
  --mid-time-transition: .5s;
  --max-time-transition: 1s;

  // Spaces
  --default-space: 20px;
  --half-space: 10px;
  --mid-half-space: 5px;
  --double-space: 40px;
}
