:root {
  // Colors
  --primary-color: #064;
  --secondary-color: #286;
  --white-color: white;
  --black-color: black;
  --bg-color: #ddd;
  --text-color: #222;

  // Transitions
  --min-time-transition: .2s;
  --mid-time-transition: .5s;
  --max-time-transition: 1s;

  // Spaces
  --default-space: 20px;
  --half-space: 10px;
  --mid-half-space: 5px;
}
