:root {
  // Colors
  --white-color: white;
  --black-color: black;
  --bg-color: white;
  --text-color: #282828;
  --grey-color: #789;
  --light-grey-color: #f0f1f2;
  --green-color: #4faf8e;
  --blue-color: #679bf6;
  --violet-color: #5450f6;
  --light-violet-color: #a157f7;
  --meat-color: #f18276;
  --red-color: #ee4e34;
  --yellow-color: #e9b727;
  --brown-color: #dea584;

  // Transitions
  --min-time-transition: 0.2s;
  --mid-time-transition: 0.5s;
  --max-time-transition: 1s;
  --extra-time-transition: 2s;

  // Border Radius
  --border-radius-default: 30px;

  // Spaces
  --default-space: 20px;
  --half-space: 10px;
  --mid-half-space: 5px;
  --double-space: 40px;
}
