:root {
  // Colors
  --white-color: white;
  --black-color: black;
  --bg-color: white;
  --text-color: #282828;
  --grey-color: #505868;
  --light-grey-color: #f0f1f2;
  --green-color: #2a5f4e;
  --blue-color: #0c4fca;
  --violet-color: #5450f6;
  --pink-color: #b00742;
  --light-violet-color: #6f08ed;
  --extra-light-violet-color: #f3edff;
  --meat-color: #ac1c11;
  --red-color: #ab2212;
  --yellow-color: #6e540c;
  --brown-color: #844824;

  // Transitions
  --min-time-transition: 0.2s;
  --mid-time-transition: 0.5s;
  --max-time-transition: 1s;
  --extra-time-transition: 2s;

  // Border Radius
  --border-radius-default: 3px;

  // Spaces
  --default-space: 20px;
  --half-space: 10px;
  --mid-half-space: 5px;
  --double-space: 40px;
}
